version: '3.9'

services:
  bot:
    build: bot/
    restart: always
    env_file:
      - .env

  postgres:
    image: postgres
    restart: always
    ports:
      - 5432:5432
    environment:
      POSTGRES_USER: ${DATABASE_USER}
      POSTGRES_PASSWORD: ${DATABASE_PASS}
      POSTGRES_DB: ${DATABASE_NAME}
      POSTGRES_URL: ${DATABASE_URL}
      PGDATA: ${DATABASE_FILE}
    volumes:
      - /var/lib/postgresql/data:/var/lib/postgresql/data

  adminer:
    image: adminer
    restart: always
    ports:
      - 8080:8080
    depends_on:
      - postgres
