name: Docker Image CI/CD

on: [workflow_dispatch, push]
jobs:
  build-bot:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        id: checkout
        uses: actions/checkout@v2

      - name: Log in to the ghcr.io
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Docker - setup buildx
        id: buildx
        uses: docker/setup-buildx-action@master

      - name: Docker - setup layer cache
        uses: actions/cache@v2
        with:
          path: /tmp/.buildx-cache
          key: ${{ runner.os }}-single-buildx-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-single-buildx

      - name: Build & push bot
        uses: docker/build-push-action@v2
        with:
          context: ./bot/src
          file: ./bot/src/Dockerfile
          cache-from: type=local,src=/tmp/.buildx-cache
          cache-to: type=local,dest=/tmp/.buildx-cache,mode=max
          push: true
          tags: ghcr.io/CodeWrestlers/lokaj-bot:latest
